* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";    
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 58px 0px;
}

a{
    text-decoration: none;
    color: unset;
}

a:hover{
    color: unset;
}

ul {
    list-style: none;
}

.container {
    width: 1148px;
    padding: 0px 15px;
    margin: auto;
}

section_title {
    color: var(--heading-color);
    font-weight: 700;
}